<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.materiallogindemo" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Verve"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Listviewdepartments"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".About"
            android:label="Verve"
            android:theme="@style/AppTheme.Dark" >
        </activity>
        <activity
            android:name=".Doctor"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Neuro"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Urology"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Nephrology"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Audiology"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Plastic"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Ophthalmology"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Psychaitry"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Cardiology"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Gastroenterology"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Dermatology"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Orthopaedics"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Medicine"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Dental"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Wc"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Ent"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ad1"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ad2"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ad3"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ad4"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ad5"
            android:label="Verve">
        </activity>
        <activity
            android:name=".ad6"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ad7"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ad8"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ad9"
            android:label="Verve">
        </activity>
        <activity
            android:name=".c1"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".c5"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".c6"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".c2"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".c3"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".c4"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".den1"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".den2"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".den3"
            android:label="Verve">
        </activity>
        <activity
            android:name=".den4"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".den5"
            android:label="Verve">
        </activity>
        <activity
            android:name=".der1"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".der2"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".der3"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".der4"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".der5"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".der6"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".e1"
            android:label="Verve">
        </activity>
        <activity
            android:name=".e2"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".e3"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".e4"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".e5"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".e6"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".g1"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".g2"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".g3"
            android:label="Verve">
        </activity>
        <activity
            android:name=".m1"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".m2"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".m3"
            android:label="Verve">
        </activity>
        <activity
            android:name=".m4"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".m5"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".m6"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".m7"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".m8"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".m9"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".m10"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".n1"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".n2"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".n3"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".n4"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".n5"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".n6"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".n7"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".n8"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".n9"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ne1"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ne2"
            android:label="Verve">
        </activity>
        <activity
            android:name=".ne3"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ne4"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ne5"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ne6"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".o1"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".o2"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".o3"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".o4"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".o5"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".o6"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".o7"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".o8"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".o9"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".or1"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".or2"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".or3"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".or4"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".or5"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".p1"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".p2"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".p3"
            android:label="Verve">
        </activity>
        <activity
            android:name=".p4"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ps1"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ps2"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ps3"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ps4"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ps5"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ps6"
            android:label="Verve">
        </activity>
        <activity
            android:name=".ps7"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ps8"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".ps9"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".u1"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".u2"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".u3"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".u4"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".u5"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".u6"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".u7"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".u8"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".u9"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".w1"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".w2"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".w3"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".w4"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".w5"
            android:label="@string/title_activity_w5" >
        </activity>
    </application>

</manifest>
