<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.materiallogindemo" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Verve"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Listviewdepartments"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".About"
            android:label="Verve"
            android:theme="@style/AppTheme.Dark" >
        </activity>
        <activity
            android:name=".Doctor"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Neuro"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Urology"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Nephrology"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Audiology"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Plastic"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Ophthalmology"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Psychaitry"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Cardiology"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Gastroenterology"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Dermatology"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Orthopaedics"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Medicine"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Dental"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Wc"
            android:label="Verve" >
        </activity>
        <activity
            android:name=".Ent"
            android:label="Verve" >
        </activity>
    </application>

</manifest>
